binds {
    Mod+T { spawn "ghostty"; }
    Mod+Return { spawn "ghostty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Shift+E { quit; }
    Mod+Q { close-window; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-window-up; }
    Mod+Down { focus-window-down; }
}
